@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #000000;
  --text: #FFFFFF;
  --text-muted: #E5E5E5;
  --accent: #9D7CEC;
  --accent-dark: #7B5CC4;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-inter), sans-serif;
}

::selection {
  background-color: var(--accent);
  color: white;
}
